#header{
    background-image: linear-gradient(90deg, #619bff, #FFFFFF);
}

#filtre_titol{
    margin: 0px 0px 10px 0px;
}

.container {
    background-color: #eaeaea;
    padding: 11px;
    margin-bottom: 10px;
}

.btn-primary {
    margin-bottom: 9px;
}

.hidden {
    display:none;
}